body{
    color:black;
    background:rgb(215, 190, 140);
}
.heading{
    width:80%;
    font-size:22px;
}
#camera{
    border:2px dashed black;
    width:350px;
    height:300px;
}
.name_of_objects,#result_object_name,#result_object_accuracy{
    color:rgb(39, 113, 113);
}
